.customers {
  background: #fff;
  padding: 25px 0;
  &-content {

  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 25px 0;
    width: 100%;
    .flickity-viewport {
      width: 100%;
    }
    .flickity-prev-next-button {
      display: none;
    }
  }
  &-item {
    width: 270px;
    margin: 0 25px;
    text-align: center;
    box-sizing: content-box;
    .par {
      font-family: $extraFontRegular;
      font-size: 20px;
      color: color('subTitle');
      margin-bottom: 10px;
    }
    .customers-name {
      font-family:  $extraFontBold;
      font-size: 20px;
      color: color('title');
    }
  }
}

.estimate-list {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    color: color('accent');
    margin: 0 6px;
    font-size: 20px;
  }
}

// @media only screen and (max-width: 1200px)