/*footer*/
.site-footer {
  background-color: rgba(145, 142, 142, 0.14);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.footer-nav {
  padding: 40px 0 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  &-list {
    margin-bottom: 0;
    &__item {
      &:first-child {
        font-family: $extraFontBold;
        font-size: 20px;
        margin-bottom: 20px;
        color: #6d6b6a;
        text-transform: uppercase;
      }
    }
    &__link {
      font-family: $extraFontRegular;
      font-size: 14px;
      color: #6d6b6a;
      padding: 6px 0;
      display: block;
      @extend %default-transition;
      &:hover {
        text-decoration: underline;
      }
    }
    &.social {
      display: flex;
      .footer-nav-list__item {
        &:first-child {
          .footer-nav-list__link {
            margin-left: 0;
          }
        }
      }
      .footer-nav-list__link {
        width: 24px;
        height: 24px;
        background: #6d6b6a;
        border-radius: 4px;
        padding: 0;
        position: relative;
        margin-bottom: 0;
        margin: 0 13px;
        @extend %default-transition;
        &:hover {
          background: color('subText');
        }
        .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 9;
          color: #fff;
          font-size: 17px;
        }
      }
    }
  }
}

.footer-social {
  span {
    font-family: $extraFontBold;
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    color: #6d6b6a;
    text-transform: uppercase;
  }
}



.copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px 0 45px;
  background: #fff;
  span {
    font-family: $extraFontRegular;
    font-size: 14px;
    color: color('plaseholder');
    margin: 0 35px;
    display: inline-block;
  }
  a {
    font-family: $extraFontRegular;
    font-size: 14px;
    color: color('plaseholder');
    text-decoration: underline;
    margin: 0 35px;
    display: inline-block;
  }
}
/*END:footer*/