/*header*/
.site-header {
  padding: 25px 0;
  box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0.5);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.2s linear;
  @media only screen and (max-width: 1200px) {
    padding: 10px 0;
  }
  &.fixed {
    padding: 15px 0;
    transition: all 0.2s linear;
  }
}

.hamburger-menu {
  display: none;
  width: 30px;
	height: 30px;
  cursor: pointer;
  @media only screen and (max-width: 1200px) {
    display: block;
  }
}
.bar {
  width: 30px;
  height: 4px;
  position: relative;
	transform: translateY(13px);
	background: color('mainColor');
	transition: all 0ms 300ms;
  &.animate {
    background: rgba(255, 255, 255, 0); 
    &::before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
    &::after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }
  &::before {
    content: "";
    width: 30px;
	  height: 4px;
    position: absolute;
    left: 0;
    bottom: 10px;
    background: color('mainColor');
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &::after {
    content: "";
    width: 30px;
  	height: 4px;
    position: absolute;
    left: 0;
    top: 10px;
    background: color('mainColor');
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  @media only screen and (max-width: 1200px) {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px 10px;
    width: 270px;
    min-height: 100vh;
    background: #fff;
    box-shadow: 2px 4px 4px 0 rgba(158, 158, 158, .5);
    animation: closeMenu 0.5s alternate linear forwards;
    &.open-menu {
      display: block;
      animation: openMenu 0.5s alternate linear forwards;
    }
   
  }   
}
@keyframes openMenu {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(-15px);
  }
}
@keyframes closeMenu {
  from {
    transform: translateX(-15px);
  }
  to {
    transform: translateX(-1000px);
  }
}
.location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 1200px) {
    display: block;
  }
}
.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media only screen and (max-width: 1200px) {
    margin: 0 auto 10px;
    justify-content: center;
  }
  &-image {
    width: 47px;
    height: 48px;
    object-fit: contain;
  }
  span {
    font-family: $mainFontBold;
    font-size: 24px;
    color: color('mainColor');
    margin-left: 24px;
  }
}
.search-city {
  position: relative;
  width: 285px;
  margin-left: 55px;
  @media only screen and (max-width: 1200px) {
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    padding-right: 40px;
    padding-left: 25px;
    height: 30px;
    border-radius: 4px;
    background-color: color('primary');
    border: solid 1px color('inputBorder');
    color: color('plaseholder');
    &::-webkit-input-placeholder { 
      color: color('plaseholder');
    }
    &::-moz-placeholder {
      color: color('plaseholder');
    }
    &:-ms-input-placeholder { 
      color: color('plaseholder');
    }
    &:-moz-placeholder { 
      color: color('plaseholder');
    }
  }
  label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    font-size: 18px;
    color: color('plaseholder');
  }
}
.serch-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 100%;
  background-color: color('mainColor');
  color: color('primary');
  border-radius: 0 4px 4px 0;
  font-size: 14px;

}
.nav {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    &__item {
      margin: 0 17px;
      @media only screen and (max-width: 1200px) {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    &__link {
      display: inline-block;
      text-transform: uppercase;
      font-family: $mainFontRegular;
      font-size: 14px;
      color: color('title');
      position: relative;
      padding: 9px 0;
      @extend %default-transition;
      &:hover {
        color: color('mainColor');
        &::before {
          content: '';
          left: 0%;
          transform: translateX(0%);
          width: 100%;
          opacity: 1;
        }
      }
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1%;
        height: 4px;
        background: color('mainColor');
        opacity: 0;
        @extend %default-transition;
      }
    }
  }
}
.accounts {
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    &__item {
      margin: 0 23px;
      @media only screen and (max-width: 1200px) {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
    }
    &__link {
      font-family: $mainFontRegular;
      font-size: 14px;
      color: color('mainColor');
      display: inline-block;
      @extend %default-transition; 
      @media only screen and (max-width: 1200px) {
        padding: 9px 0;
      }
      &:hover {
        color: color('title');
      }
    }
  }
}
/*END:header*/