.introduce {
  margin-top: -125px;
  background: #fff;
  &-content {
    min-height: 378px;
    border-radius: 2px;
    background-color: color('primary');
    box-shadow: 0 2px 4px 0 rgba(181, 181, 181, 0.5);
    padding: 40px 0;
  }
  &-block {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px;
    @media only screen and (max-width: 480px) {
      padding: 0 15px;
    }
  }
  &-item {
    width: 25%;
    padding: 0 40px;
    text-align: center;
    @media only screen and (max-width: 1200px) {
      width: 50%;
    }
    @media only screen and (max-width: 480px) {
      width: 100%;
      padding: 0;
    }
    .image-holder {
      margin: 0 auto;
      width: 136px;
      height: 128px;
      margin-bottom: 39px;
      @media only screen and (max-width: 480px) {
        width: 100px;
        height: 94px;
        margin-bottom: 20px;
      }         
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .text-title {
      font-family: $mainFontRegular;
      font-size: 16px;
      color: color('title');
      line-height: 20px;
    }
  }
}