/*base*/

html,
body {
  height: 100%;
}

h1 {
  color: #fff;
  font-family: $extraFontRegular;
  font-size: 25px;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.main {
  display: table-row;
  height: 100%;
}

.clearfix {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.transition {
  transition: all 0.15s ease-in;
}

.container {
  position: relative;
  max-width: gridValue('container');
  margin: 0 auto;
  padding: 0 15px;
  @extend .clearfix;
}

/*END:base*/