/*base*/

html,
body {
  min-height: 100%;
  background: #fff;
}
body {
  padding-bottom: 360px;
  @media only screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

h1 {
  font-family: $extraFontBold;
  font-size: 72px;
  color: color('primary');
  @media only screen and (max-width: 768px) {
    font-size: 60px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 32px;
  }
}
h2 {
  font-family: $mainFontBold;
  font-size: 24px;
  color: color('title');
  text-transform: uppercase;
  text-align: center;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.main {
  // display: table-row;
  height: 100%;
  position: relative;
  z-index: 9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #fff;
}

.clearfix {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

.transition {
  transition: all 0.15s ease-in;
}

.container {
  position: relative;
  max-width: gridValue('container');
  margin: 0 auto;
  padding: 0 15px;
  @extend .clearfix;
}

.double-content {
  margin-top: 98px;
  display: flex;
  padding: 35px 0;
  position: relative;
  @media only screen and (max-width: 1175px) {
    margin-top: 50px;
  }
  &__left {
    width: 230px;
    @extend %default-transition;
    @media only screen and (max-width: 1175px) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      background: color('primary');
      height: 100%;
      transform: translateX(-300px);
      padding-top: 75px;
    }
    @media only screen and (max-width: 320px) {
      left: -15px;
      padding: 75px 0 0 15px;
    }
    &.show-filter {
      transform: translateX(0);
      box-shadow: 4px 4px 9px -4px rgba(141, 139, 139, .5);
      @extend %default-transition;
    }
  }
  &__right {
    flex: 1 1;
    padding: 0 15px;
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.par {
  font-family: $mainFontRegular;
  font-size: 14px;
  color: color('subTitle');
  margin-bottom: 15px;
}
/*END:base*/